@using Microsoft.AspNet.Identity
@using System.Web.Script.Serialization;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>

                @{Manager.Models.UsuarioAutenticado objUsuario = new JavaScriptSerializer().Deserialize<Manager.Models.UsuarioAutenticado>(FormsAuthentication.Decrypt(Request.Cookies[".ASPXAUTH"].Values[0]).UserData);}
                @if(objUsuario.Rol == "")
                {
                    objUsuario.Rol = "sin rol";
                }
                @Html.ActionLink(User.Identity.GetUserName() + " (" + objUsuario.Rol + ")", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
